<div class="container flex flex-col mx-auto bg-white">
    <div class="grid w-full grid-cols-1 my-auto mt-12 mb-8 md:grid-cols-2 xl:gap-14 md:gap-5">
        <div class="flex flex-col justify-center col-span-1 text-center lg:text-start">
            <div class="flex items-center justify-center mb-4 lg:justify-normal">
                <h4 class="ml-2 text-sm font-bold tracking-widest text-primary uppercase">Enhancing Software Development with CASE Tools and Modeling Support</h4>
            </div>
            <h1 class="mb-8 text-4xl font-extrabold leading-tight lg:text-6xl">Unlocking <span class="text-purple-blue-500">Potential</span> with <span class="text-purple-blue-500">Knowledge</span> and <span class="text-purple-blue-500">Skills</span></h1>
            <p class="mb-6 text-base font-normal leading-7 lg:w-3/4 text-grey-900">
                For students, learning how to use CASE tools and analyze various models such as BPMA is crucial. With the right support, students can effectively explore different software models, improve their analytical skills, and gain hands-on experience in designing and optimizing systems. CASE tools not only automate tasks like design and testing but also empower students to understand the complexities of software architecture and business processes, preparing them for real-world challenges in software engineering.
            </p>
            <div class="flex flex-col items-center gap-4 lg:flex-row">
                <a routerLink="/tools" routerLinkActive="active"
                class="text-sm font-normal text-dark-grey-700 hover:text-dark-grey-900">
                <button class="flex items-center py-4 text-l text-white px-7 bg-purple-blue-500 hover:bg-purple-blue-600 focus:ring-4 focus:ring-purple-blue-100 transition duration-300 rounded-xl">
                    See Services
                    </button>
                </a>
            </div>
        </div>
        <div class="items-center justify-end hidden col-span-1 md:flex">
            <img class="w-4/5 rounded-md" src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/motion-tailwind/img/header-1.png" alt="header image">
        </div>
    </div>
</div>
<router-outlet></router-outlet>