<div class="flex-1 order-2 border-4 border-gray-500 m-5 p-8 bg-white shadow-xl sm:w-96 lg:w-85 h-[530px] overflow-hidden">
  <div class="mb-7 pb-7 border-b border-gray-300 ">
    <img [src]="imageUrl" [alt]="title" class="rounded-3xl w-20 h-20 mb-7 justify-center" />
    <div class="m-1">
      <span class="block text-2xl font-semibold">{{ title }}</span>
    </div>
  </div>
  <ul class="mb-7 font-medium text-gray-500">
    <li *ngFor="let highlight of highlights" class="flex text-lg mb-2">
      <img src="https://res.cloudinary.com/williamsondesign/check-grey.svg" />
      <span class="ml-3"><span class="text-black">{{ highlight.boldText }}</span> {{ highlight.text }}</span>
    </li>
  </ul>
</div>
