<div class="container flex flex-col mx-auto bg-white">
    <div class="grid w-full grid-cols-1 my-auto mt-12 mb-8 md:grid-cols-2 xl:gap-14 md:gap-5">
        <div class="flex flex-col justify-center col-span-1 text-center lg:text-start">
            <h1 class="mb-8 text-4xl font-extrabold leading-tight lg:text-6xl"><span class="text-purple-blue-500">About</span> Us</h1>
            <p class="mb-6 text-base font-normal leading-7 lg:w-3/4 text-grey-900">
                At Casetools.lk, we specialize in simplifying software design and analysis using powerful CASE tools. From business process modeling to automated code generation, we help teams streamline development, improve efficiency, and build robust systems. Let’s turn your ideas into well-structured solutions! 
            </p>
        </div>
        <div class="items-center justify-end hidden col-span-1 md:flex">
            <img class="w-4/5 rounded-md" src="https://cdn.pixabay.com/photo/2023/07/04/19/43/man-8106958_1280.png" alt="header image">
        </div>
    </div>
</div>

<div class="container mx-auto bg-white">
    <div class="w-full my-auto mt-12 mb-8">
        <div class="text-start">
            <h1 class="text-center lg:text-start mb-8 text-4xl font-extrabold leading-tight lg:text-6xl"><span class="text-purple-blue-500">Privacy</span> Policy</h1>
            <p class="mb-6 text-base font-normal text-grey-900">At <strong>Casetools.lk</strong>, we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, and safeguard your data when you visit our website and use our services.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">1. Information We Collect</h2>
            <p class="text-base font-normal text-grey-900">We may collect the following types of information:</p>
            <ul>
                <li class="text-base font-normal text-grey-900">Personal Information: Name, email address, phone number, etc. when you contact us or sign up for our services.</li>
                <li class="text-base font-normal text-grey-900">Usage Data: Information about your interactions with our website, such as IP address, browser type, and pages visited.</li>
            </ul>
            <br>
            <h2 class="text-base font-bold text-grey-900">2. How We Use Your Information</h2>
            <p class="text-base font-normal text-grey-900">We may use the information we collect to:</p>
            <ul>
                <li class="text-base font-normal text-grey-900">Provide and improve our services.</li>
                <li class="text-base font-normal text-grey-900">Respond to inquiries and requests.</li>
                <li class="text-base font-normal text-grey-900">Send important updates or marketing communications, with your consent.</li>
            </ul>
            <br>
            <h2 class="text-base font-bold text-grey-900">3. Data Protection</h2>
            <p class="text-base font-normal text-grey-900">We implement security measures to protect your personal information, including encryption and secure servers. However, no method of data transmission over the internet is 100% secure.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">4. Sharing Your Information</h2>
            <p class="text-base font-normal text-grey-900">We will not sell, rent, or share your personal information with third parties, except as necessary to provide our services or as required by law.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">5. Cookies and Tracking</h2>
            <p class="text-base font-normal text-grey-900">Our website may use cookies to enhance user experience. You can adjust your browser settings to disable cookies, but this may affect the functionality of the site.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">6. Your Rights</h2>
            <p class="text-base font-normal text-grey-900">You have the right to access, update, or delete your personal information. You can contact us at any time to exercise these rights.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">7. Changes to This Policy</h2>
            <p class="text-base font-normal text-grey-900">We reserve the right to update this Privacy Policy. Any changes will be posted on this page, and the date of the latest revision will be updated accordingly.</p>
            <br>
        </div>
    </div>
</div>

<div class="container mx-auto bg-white">
    <div class="w-full my-auto mt-12 mb-8">
        <div class="text-start">
            <h1 class="text-center lg:text-start mb-8 text-4xl font-extrabold leading-tight lg:text-6xl"><span class="text-purple-blue-500">Terms</span> &amp; Conditions</h1>
            <p class="text-base font-normal text-grey-900">Welcome to Casetools.lk. By accessing or using our website, you agree to comply with and be bound by the following terms and conditions:</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">1. Acceptance of Terms</h2>
            <p class="text-base font-normal text-grey-900">By accessing or using the services provided on our website, you agree to be bound by these Terms and Conditions, as well as any other legal notices published on the site.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">2. Use of the Website</h2>
            <p class="text-base font-normal text-grey-900">You are granted a non-exclusive, non-transferable, revocable license to use the website for lawful purposes. You agree not to misuse the website or engage in any activity that may harm it.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">3. Services</h2>
            <p class="text-base font-normal text-grey-900">We provide software design and analysis services using CASE tools, as outlined on our website. We reserve the right to modify, suspend, or discontinue any service at any time without prior notice.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">4. Payment and Billing</h2>
            <p class="text-base font-normal text-grey-900">If you purchase any services from us, you agree to provide accurate and complete payment information. All fees are non-refundable unless otherwise specified.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">5. Intellectual Property</h2>
            <p class="text-base font-normal text-grey-900">The content, features, and functionality of our website, including all text, images, logos, and software, are owned by Casetools.lk and protected by intellectual property laws. You may not use, copy, or distribute any content without our permission.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">6. Privacy</h2>
            <p class="text-base font-normal text-grey-900">Your use of our website is also governed by our Privacy Policy.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">7. Limitations of Liability</h2>
            <p class="text-base font-normal text-grey-900">We are not responsible for any damages or losses that may occur from using our website or services. This includes, but is not limited to, direct, indirect, incidental, or consequential damages.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">8. Indemnification</h2>
            <p class="text-base font-normal text-grey-900">You agree to indemnify and hold Casetools.lk harmless from any claims, damages, or expenses arising from your use of the website, including any violation of these Terms and Conditions.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">9. Governing Law</h2>
            <p class="text-base font-normal text-grey-900">These Terms and Conditions are governed by and construed in accordance with the laws of Government of Sri Lanka. Any disputes will be resolved in the appropriate courts within that jurisdiction.</p>
            <br>
            <h2 class="text-base font-bold text-grey-900">10. Changes to Terms</h2>
            <p class="text-base font-normal text-grey-900">We reserve the right to modify these Terms and Conditions at any time. Changes will be posted on this page, and the date of the most recent update will be noted at the top of the page.</p>
            <br>
        </div>
    </div>
</div>
<app-footer></app-footer>
