
<div class="my-5">
            <div class="grid sm:grid-cols-2 items-center gap-16 p-8 mx-auto max-w-4xl">
                <div>
                    <h1 class="text-4xl font-semibold mt-6 lg:text-5xl"><span class="text-indigo-600">Let's</span> Talk</h1>
                    <p class="text-sm text-gray-600 mt-4 pt-2">Have a software project that needs structured design and analysis? Reach out to us—we’d love to hear about your ideas and provide expert assistance with CASE tools! </p>
                    <div class="mt-12">
                      <ul class="mt-3">
                          <li class="flex items-center">
                              <div class="bg-[#591FF9] h-10 w-10 rounded-full flex items-center justify-center shrink-0">
                                <svg class="w-6 h-6" viewBox="0 0 24 24" fill="#ffffff" aria-hidden="true">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z" />
                                </svg>
                              </div>
                              <a target="blank" href="#" class="text-[#007bff] text-sm ml-3">
                                  <small class="block"><span class="text-indigo-600">Email</span></small>
                                  contact&#64;casetools.lk
                              </a>
                          </li>
                      </ul>
                  </div>
                    <div class="mt-5">
                        <ul class="mt-3">
                            <li class="flex items-center">
                                <div class="bg-[#591FF9] h-10 w-10 rounded-full flex items-center justify-center shrink-0">
                                  <svg class="w-6 h-6" fill="#ffffff" viewBox="0 0 24 24" aria-hidden="true">
                                    <path fillRule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clipRule="evenodd" />
                                  </svg>
                                </div>
                                <a target="blank" href="#" class="text-[#ffffff] text-sm ml-3">
                                    <small class="block"><span class="text-indigo-600">Facebook</span></small>
                                    casetoolslk
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
              
                <form class="max-w-xl mx-auto p-6 shadow-lg rounded-xl space-y-6">
                    <div class="space-y-4">
                      <!-- Name Input -->
                      <input 
                        type="text" 
                        placeholder="Name" 
                        class="mb-2 w-full rounded-md py-3 px-4 text-sm outline-1" />
                  
                      <!-- Email Input -->
                      <input 
                        type="email" 
                        placeholder="Email" 
                        class="mb-2 w-full rounded-md py-3 px-4 text-sm outline-1" />
                  
                      <!-- Subject Input -->
                      <input 
                        type="text" 
                        placeholder="Subject" 
                        class="mb-2 w-full rounded-md py-3 px-4 text-sm outline-1" />
                    </div>
                  
                    <!-- Message Textarea -->
                    <textarea 
                      placeholder="Message" 
                      rows="6" 
                      class="mb-2 w-full rounded-md py-3 px-4 text-sm outline-1"></textarea>
                  
                    <!-- Send Button -->
                    <button 
                      class="w-full py-3 text-center justify-center flex items-center py-4 text-l text-white px-7 bg-purple-blue-500 hover:bg-purple-blue-600 focus:ring-4 focus:ring-purple-blue-100 transition duration-300 rounded-xl">
                      Send
                    </button>
                  </form>
                  
            </div>
        </div>

<app-footer></app-footer>